%footer
  .footer-upper
    .footer-upper__banner
      = image_tag "bg-topMiddleDl-pict.jpg" , height: "266", width: "100%"
      .footer-upper__banner--title
        スマホでかんたんフリマアプリ
      .footer-upper__banner--text
        今すぐ無料ダウンロード！
      .footer-upper__banner--logo
        = image_tag "logo.png", width: "68"
      .footer-upper__banner--app
        = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?206587138", size: "135x40")
      .footer-upper__banner--google
        = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?206587138", size: "135x40")

  .footer-lower
    .footer-contents-box
      .footer-contents-box__title
        フリマについて
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          会社概要（運営会社）
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          採用情報
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          プレスリリース
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          公式ブログ
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          フリマロゴ利用ガイドライン
      .footer-contents-box__icon
        = link_to "/", class: "footer-contents-box__icon--twitter" do
          .fab.fa-twitter
        = link_to "/", class: "footer-contents-box__icon--facebook" do
          .fab.fa-facebook-square
    .footer-contents-box
      .footer-contents-box__title
        ヘルプ＆ガイド
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          フリマガイド
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          らくらくフリマ便
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          ゆうゆうフリマ便
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          大型フリマ便
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          車体取引ガイド
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          フリマあんしん・あんぜん宣言！
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          偽ブランド品撲滅への取り組み
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          フリマボックス
    .footer-contents-box-privacy-left
      .footer-contents-box__title
        プライバシーと利用規約
      .footer-contents-list-privacy
        = link_to "/" ,class: "footer-contents-box__links"do
          プライバシーポリシー
      .footer-contents-list-privacy
        = link_to "/" ,class: "footer-contents-box__links"do
          フリマ利用規約
      .footer-contents-list-privacy
        = link_to "/" ,class: "footer-contents-box__links"do
          あんしんスマホサポート制度に関する利用特約
      .footer-contents-list-privacy
        = link_to "/" ,class: "footer-contents-box__links"do
          コンプライアンスポリシー
    .footer-contents-box-privacy-right
      .footer-contents-list-privacy
        = link_to "/" ,class: "footer-contents-box__links"do
          個人データの安全管理に係る基本方針
      .footer-contents-list-privacy
        = link_to "/" ,class: "footer-contents-box__links"do
          特定商取引に関する表記
      .footer-contents-list-privacy
        = link_to "/" ,class: "footer-contents-box__links"do
          資金決済法に基づく表示
      .footer-contents-list-privacy
        = link_to "/" ,class: "footer-contents-box__links"do
          法令遵守と犯罪防止のために
    .footer-contents-box-country
      .footer-contents-box__title
        国
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          日本
      .footer-contents-box__list
        = link_to "/" ,class: "footer-contents-box__links"do
          United States
    .footer-copyright
      %small © 2019 Fmarket